/* Base Application Styles */

body, html {
  height: 100%;
  width: 100%;
  color: #222;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 2.5em;
  // font-family: 'Arial Narrow Bold';
  margin: 0px;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  // font-family: 'Arial Narrow Bold';
  margin: 0px;
  font-weight: normal;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  color: #fff;  
  background-color: #06BEBD;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
}

.section {
  box-sizing: border-box;
  width: 100%;
  padding: 2em;
  margin-bottom: 1em;
}

/* App Styles */

#app {
  max-width: 468px;
  margin:0px auto;
}




